/* .photo {
    width: 100px;
}

aside.mainaside {
    border-radius: 10px;
}

.statistics {
    font-size: 10px;
}

.student div {
    flex: 0 0 0;
}

.underline {
    text-decoration: underline;
}

.hrtxt {
    font-size: 13px;
}

.index {
    display: flex;
    flex-direction: column;
} */

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.button {
    margin-top: 10px;
    background: none;
    border-radius: 5px;
    border: 2px solid black;
}

.button:hover {
    background-color: cornflowerblue;
}